root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8
indent_style = space
indent_size = 2

[*.go]
# tabs because gofmt uses tabs https://pkg.go.dev/cmd/gofmt
indent_style = tab

[Makefile]
# Makefile requires tabs for indentation
indent_style = tab

[*.md]
indent_size = 8
